.post{background:#fff;position:relative;padding:22px;margin:0;border-bottom:1px dotted rgba(0,0,0,0.16)}
.post-thumb{position:relative;background:#fafafa;overflow:hidden;float:left;min-width:180px;height:auto;min-height:160px;margin:0 20px 0 0;transition:all .3s}
.post-thumbnail{background:#fafafa;width:100%;height:auto;}.post-thumb img{background:#fafafa;}
.post-thumb .comment-info{position:absolute;top:0;left:0;z-index:5;color:#fff;padding:0}
.post-thumb .comment-info a{display:inline-block;background:red;color:#fff;padding:10px}
.snippets{color:#999;font-size:85%;line-height:1.6;margin:0 0 8px 0;}
a.post-readmore{display:flex;padding:5px 8px;line-height:normal;float:left;color:#999;font-size:11px;border:1px solid rgba(0,0,0,0.06)}
a.post-readmore:hover{background:#ccc;color:#fff;}
.post-thumb:hover .post-timestamp{opacity:.85;visibility:visible}
.post-timestamp a abbr.published.updated{border:0;cursor:pointer}
.post-info{display:block;padding:5px 0;color:#999;line-height:1.6em;font-size:11px;overflow:hidden;margin:5px 0;border:0}
.post-info a{color:#999;text-transform:none;font-weight:400}
/* CSS Label Info */
.post .label-info{margin:0;padding:0;display:inline-block;position:absolute;left:0;top:0;z-index:2}
.label-info a{background:rgba(231,76,60,.85);color:#fff;position:relative;font-size:12px;display:block;padding:4px 8px;line-height:normal;margin:0;transition:all .3s}
.label-info a:hover{background:rgba(231,76,60,1);color:#fff;}
.label-info a:nth-child(n+2),.home-link {display:none;}
/* Page Navigation */
#blog-pager{position:relative;display:block;background:#fff;clear:both;overflow:visible;width:auto;padding:22px;text-align:left;line-height:normal;overflow:visible;margin:auto;}
.showpage a,.showpageNum a,.showpagePoint,.showpageOf{background:#f5f5f5;display:inline-block;font-size:90%;color:#444;border-radius:2px;padding:6px 10px;margin:0 3px 0 0}
.showpagePoint,.showpage a:hover,.showpageNum a:hover,.showpagePoint:hover{background:#e74c3c;color:#fff;}
.showpageNum a i{font-size:110%;font-weight:normal}
@media screen and (max-width:768px) {
h1.post-title.entry-title a, h2.post-title.entry-title a {display:inline-block;margin:15px 0;}}
@media screen and (max-width:640px) {
.post-thumb{width:100%;margin:0;min-width:auto;min-height:auto;}
.post-thumbnail {width:100%;height:auto;}
h1.post-title.entry-title a, h2.post-title.entry-title a {margin:10px 0;}
#blog-pager {padding:22px;}
.showpage a,.showpageNum a,.showpagePoint,.showpageOf{margin:0 4px 4px 0}}
@media screen and (max-width:320px) {
.post{padding:22px 0}
.post-thumb{max-height:160px;}
#blog-pager {padding:22px 0;}}